extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project.project_name

        p.sans-body-text= project.description
        p Please let me if you have any comments or questions! 

      .project-tech-links-box.box
        h6 Technologies
        ul
        each tech in project.technologies 
          li= tech

        div.btn-container
          a.btn-link(href=`${project.live_link}` target="_blank") Live Demo
          a.btn-link(href=`${project.github_link}` target="_blank") GitHub Repo

    .project-img-box.box

    each img in project.image_urlScreens
      img.project-img(src=`${img}.png`, alt=`${project.image_alt}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
